<!-- Imagem do topo -->
<div class="row">
  <img class="img-fluid" src="../../../assets/img/Topo4.png">
  <p>
    <!-- Título da página -->
    <h1>
      <p class="text-center"> PRODUTOS </p>
    </h1>
    <hr class="line2" size="8">
    <!-- Subtítulo da página -->
    <h2>
      <p class="text-center"> Glúten </p>
    </h2>
    <!-- Campo de pesquisa -->
    <nav class="text-center">
      <form class="text-center">
        <input class="text-center" type="search" placeholder="O que você procura?" aria-label="Digite sua pesquisa">
        <br>
        <br>
        <p><button class="btn btn-outline-success my-2 my-sm-0"
            style="background-color:#3D6157; border-color:#3D6157; color:white" type="submit">Pesquisar</button>
        </p>
      </form>
    </nav>
    <!-- Tipos de restrições -->
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="text-center">
            <img class="Itens3" src="../../../assets/img/ImgGluten1.png" alt="..." height="70" width="70"
              style=border-radius:300px><button type="button" class="btn" style="color:#3D6157" font="strong">
              <h5>Contém rastro</h5>
            </button>
          </div>
        </div>
        <div class="col-sm">
          <div class="text-center">
            <img class="Itens3" src="../../../assets/img/ImgGluten1.png" alt="..." height="70" width="70"
              style=border-radius:300px><button type="button" class="btn" style="color:#3D6157" font="strong">
              <h5>Não contém</h5>
            </button>
          </div>
        </div>
      </div>

      <!-- Grid para lista dos produtos -->
      <br>
      <div class="container">

        <div class="produto1">
          <div class="text-right">
            <img class="Foto" src="../../../assets/img/Paes2.jpg" alt="..." height="70" width="70"
              style=border-radius:300px>
            <div class="texto">
              <p>
                <h5>Nome | Marca</h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


                  <div class="produto2">
                    <div class="text-right">
                      <img class="Foto" src="../../../assets/img/Paes2.jpg" alt="..." height="70" width="70"
                        style=border-radius:300px>
                      <div class="texto">
                        <p>
                          <h5>Nome | Marca</h5>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>


                    <div class="produto3">
                      <div class="text-right">
                        <img class="Foto" src="../../../assets/img/Paes2.jpg" alt="..." height="70" width="70"
                          style=border-radius:300px>
                        <div class="texto">
                          <p>
                            <h5>Nome | Marca</h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                              non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                      </div>

                      <!-- Paginação -->
                      <nav aria-label="Navegação de página exemplo">
                        <ul class="pagination justify-content-end">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Anterior</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Próximo</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
            </div>
