<app-header></app-header>

<section>
    <div class="topo"><img class="img0" src="https://pa1.narvii.com/6479/eddc1f2e11758f08a2da702b007b959302ed7024_hq.gif" alt="..." height="100px" ></div>
    <hr class="line1" size="8px">
    <hr class="line2" size="8px">
  <br/><br/></section>


  <div>
  <nav class="navbar barra ">
      <div class="container-fluid">
          <button class="btn2 btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journal-bookmark-fill bnt-icon" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
            </svg><b>Brigadeiro de Nutella</b></button>

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <div class="estrelas">
    <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
    <label for="cm_star-1"><i class="fa"></i></label>
    <input type="radio" id="cm_star-1" name="fb" value="1"/>
    <label for="cm_star-2"><i class="fa"></i></label>
    <input type="radio" id="cm_star-2" name="fb" value="2"/>
    <label for="cm_star-3"><i class="fa"></i></label>
    <input type="radio" id="cm_star-3" name="fb" value="3"/>
    <label for="cm_star-4"><i class="fa"></i></label>
    <input type="radio" id="cm_star-4" name="fb" value="4"/>
    <label for="cm_star-5"><i class="fa"></i></label>
    <input type="radio" id="cm_star-5" name="fb" value="5"/>
  </div>

      </div>
    </nav>

    <div class="column">

      <div class="ingredientes"><h4><b>Ingredientes:</b></h4><br>
          <p>400g de leite condensado de avelã (Receita na Aba "Substituições");<br>
             01 Colher de óleo de côco;<br>
             02 Colheres de cacau em pó;<br>
             01 Barra de chocolate zero lactose;<br>


          </p>
          </div>
      </div>
  <div>
      <div class="column">

      <div class="modo"><h4><b>Modo de Preparo:</b></h4><br>
          <p>Colocar todos os ingredientes na panela e misturar,  antes de levar
             para cozinhar em fogo médio. <br>Mexer bem e quando começar a desgrudar
             do fundo da panela, mexer por mais dois ou três minutos.<br><br>
             Após desligar o  fogo, colocar o conteúdo da panela em um prato untado
             com óleo de côco e levar a geladeira por cerca de 3 horas.<br><br>
             Moldar bolinhas, passar em granulado sem lactose ou nibs de cacau.<br><br>
             <img class="foto" src="../../../assets/img/Brigadeiro Nutella.jpeg" class="" alt="..." height="150px">


              </p>
              </div>


              <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
              <div class="estrelas"><b>AVALIE ESTA RECEITA</b>
                <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                <label for="cm_star-1"><i class="fa"></i></label>
                <input type="radio" id="cm_star-1" name="fb" value="1"/>
                <label for="cm_star-2"><i class="fa"></i></label>
                <input type="radio" id="cm_star-2" name="fb" value="2"/>
                <label for="cm_star-3"><i class="fa"></i></label>
                <input type="radio" id="cm_star-3" name="fb" value="3"/>
                <label for="cm_star-4"><i class="fa"></i></label>
                <input type="radio" id="cm_star-4" name="fb" value="4"/>
                <label for="cm_star-5"><i class="fa"></i></label>
                <input type="radio" id="cm_star-5" name="fb" value="5"/>
              </div>
              <br><br>
              </div>
              <br/><br/><br/><br/><br/><br/><br/>
