<!-- Imagem do topo -->
<div class="row">
  <img class="img-fluid" src="../../../assets/img/Rodateto.png" alt="Imagem responsiva" height="...">
  <p>
    <!-- Título da página -->
  <h1>
    <p class="text-center"> PRODUTOS </p>
  </h1>
  <!-- Caseína -->
  <div class="row">
    <div class="col">
      <p>
      <div class="text-center">
        <img class="Itens3" src="../../../assets/img/Itens3.png" alt="" height="" width="250" style=border-radius:300px>
      </div>
      <p>
      <div class="text-center"> <button type="button" font-family="lobster" class="btn btn-lg"
          style="background-color:#3D6157; border-color:#3D6157; color:#D8AA76">Caseína</button></div>
      <p>
    </div>
    <!-- Lactose -->
    <div class="col">
      <p>
      <div class="text-center"><img class="Lactose2" src="../../../assets/img/Lactose2.jpg" alt="" height="250"
          width="250" style=border-radius:300px></div>
      <p>
      <div class="text-center"><button type="button" font-family="lobster" class="btn btn-lg"
          style="background-color:#3D6157; border-color:#3D6157; color:#D8AA76">Lactose</button></div>

    </div>
    <!-- Glúten -->
    <div class="col">
      <p>
      <div class="text-center"><img class="Itens6" src="../../../assets/img/Itens6.png" alt="" height="250" width="250"
          style=border-radius:300px>
        <p>
        <div class="text-center"><button type="button" font-family="lobster" class="btn btn-lg"
            style="background-color:#3D6157; border-color:#3D6157; color:#D8AA76"> Glúten </button></div>
      </div>
    </div>
  </div>
</div>
