<app-header></app-header>

<head>
  <title>Edita produto</title>
</head>

<body>
  <br>
  <div class="titulo">Editar Produto</div>
  <br>
  <section>
    <form name="editaProduto" class="justify-content-center d-flex" [formGroup]="formProdutoForm"
      (submit)="editar()" method="put" action="#">
      <div class="row w-50">
        <div class="col-12 mb-3">
          <label for="restricao" class="textform">Tipo de restrição</label>
          <select class="form-select" aria-label="Default select example" formControlName="restricao" id="restricao"
            required>
            <option value="LACTOSE">Lactose</option>
            <option value="GLUTEN">Glúten</option>
          </select>
          <app-mensagem
            *ngIf="formProdutoForm.get('restricao')?.errors?.['required'] && formProdutoForm.get('restricao')?.touched"
            mensagem="Tipo de restrição obrigatório"></app-mensagem>
        </div>
        <div class="col-12 mb-3">
          <label for="tipoProduto" class="textform">Tipo do produto (alimento, outros):</label>
          <input formControlName="tipoProduto" type="text" id="tipoProduto" class="form-text form-control" required
            maxlength="10" />
          <app-mensagem
            *ngIf="formProdutoForm.get('tipoProduto')?.errors?.['required'] && formProdutoForm.get('tipoProduto')?.touched"
            mensagem="Tipo do produto obrigatório"></app-mensagem>
        </div>
        <div class="col-12 mb-3">
          <label for="nomeProduto" class="textform">Nome do produto:</label>
          <input formControlName="nome" type="text" id="nomeProduto" class="form-text form-control" required
            maxlength="60" />
          <app-mensagem
            *ngIf="formProdutoForm.get('nome')?.errors?.['required'] && formProdutoForm.get('nome')?.touched"
            mensagem="Nome obrigatório"></app-mensagem>
        </div>
        <div class="col-12 mb-3">
          <label for="marcaProduto" class="textform">Marca:</label>
          <input formControlName="marca" type="text" id="marcaProduto" class="form-text form-control" required
            maxlength="60" />
          <app-mensagem
            *ngIf="formProdutoForm.get('marca')?.errors?.['required'] && formProdutoForm.get('marca')?.touched"
            mensagem="Marca obrigatória"></app-mensagem>
        </div>
        <div class="col-12 mb-3">
          <label for="origemInfo" class="textform">Origem da informação:</label>
          <input formControlName="origem" type="text" id="origemInfo" class="form-text form-control" required
            maxlength="200" />
          <app-mensagem
            *ngIf="formProdutoForm.get('origem')?.errors?.['required'] && formProdutoForm.get('origem')?.touched"
            mensagem="Origem obrigatória"></app-mensagem>
        </div>
        <div class="col-12 mb-3">
          <label for="descricao" class="textform">Descrição:</label>
          <input formControlName="descricao" type="text" id="descricao" class="form-text form-control" required
            maxlength="200" />
          <app-mensagem
            *ngIf="formProdutoForm.get('descricao')?.errors?.['required'] && formProdutoForm.get('descricao')?.touched"
            mensagem="Descrição obrigatória"></app-mensagem>
        </div>
        <div class="col-12 mb-3">
          <input (change)="getFile($event)" formControlName="imagem" type="file" id="imagem"
            class="form-text form-control" required>
          <app-mensagem
            *ngIf="formProdutoForm.get('imagem')?.errors?.['required'] && formProdutoForm.get('imagem')?.touched"
            mensagem="Imagem obrigatória"></app-mensagem>
        </div>
        <div class="col-12 mb-3 d-flex justify-content-md-end">
          <button type="button" class="btn btn-secondary btn-lg" type="submit">
            Editar
          </button>
        </div>
      </div>
      <br>
    </form>
  </section>
</body>
