@import url('https://rsms.me/inter/inter.css');

.line1{
    background-color:#e9cd9e;
    opacity: 1;
}

.titulo{
    font-family: "Inter";
    font-size: 24px;
    color: #3D6157;
    text-align: center;
    font-weight: 600;
}

.textform{
    font-family: "Inter";
    font-size: 16px;
    color: #3D6157;
    text-align: center;
}

.form-select{
    font-family: "Inter";
    font-size: 16px;
    color: #3D6157;
    
}

.form-select:focus{
    border-color: #f0e5cf;
    box-shadow: 0 0 0 0.25rem #e9cd9e;
}

.form-control:focus {
    border-color: #f0e5cf;
    box-shadow: 0 0 0 0.25rem #e9cd9e;

}

.btn{
    color: white;
    background-color: #3D6157;
    margin: 10px;
}