<app-header></app-header>

<head>

    <title>produto</title>
</head>

<body>
    <hr class="line1" size="8">
    <hr class="line1" size="8">
   
    <br>

    <div class="titulo">Cadastrar Produto</div>

    <br>

    <section>
        <form 
        name = "cadastroProduto" [formGroup]= "formProdutoForm"
        (submit)="cadastrar()"  
        method="post" 
        action="#">

        <div class="row justify-content-center"> 
            <div class="col-4">
        <select class="form-select" aria-label="Default select example" 
        formControlName= "restricao">
            <option selected>Tipo de restrição</option>
            <option value="2">LACTOSE</option>
            <option value="3">GLÚTEN</option>
          </select>                      
                </div>
            </div>

<br>

<div class="row justify-content-center"> 
    <div class="col-4">
   <label for="tipoProduto" class="textform">Tipo de produto (alimento, outros):</label>
        <input
        formControlName="tipoProduto"
        type="text" 
        id="tipoProduto" 
        class="form-text form-control" 
        required maxlength="10" />
        <app-mensagem *ngIf="formProdutoForm.get('nome')?.errors?.['required'] && formProdutoForm.get('nome')?.touched" mensagem="Nome Obrigatório"></app-mensagem>
    </div>
</div>

<br>

        <div class="row justify-content-center"> 
            <div class="col-4">
           <label for="nomeProduto" class="textform">Nome do produto:</label>
                <input
                formControlName="nome" 
                type="text" 
                id="nomeProduto" 
                class="form-text form-control" 
                required maxlength="60" />
            </div>
        </div>
        
        <br>

        <div class="row justify-content-center"> 
            <div class="col-4">
           <label for="marcaProduto" class="textform">Marca:</label>
                <input
                formControlName="marca"  
                type="text" 
                id="marcaProduto" 
                class="form-text form-control" 
                required maxlength="60" />
            </div>
        </div>

        <br>

        <div class="row justify-content-center"> 
            <div class="col-4">
           <label for="origemInfo" class="textform">Origem da informação:</label>
                <input
                formControlName="origem" 
                type="text" 
                id="origemInfo" 
                class="form-text form-control" 
                required maxlength="200" />
            </div>
        </div>

        <br>

        <div class="row justify-content-center"> 
            <div class="col-4">
           <label for="descricao" class="textform">Descrição:</label>
                <input
                formControlName="descricao" 
                type="text" 
                id="descricao" 
                class="form-text form-control" 
                required maxlength="200" />
            </div>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-4 d-flex justify-content-md-end">        
                  
            <button type="button" (click)="cadastrar()" class="btn btn-secondary btn-lg" routerLink="/produto">Cadastrar</button>

        </div>
        </div>
<br> 

    </form>
</section>

</body>