<body>
    <hr class="line1" size="8">
    <hr class="line1" size="8">
   
    <br>

    <div class="titulo">Cadastrar Produto</div>

    <br>

    <section>
        <form 
        #usuarioForm = "ngForm"
        (ngSubmit)="onSubmit()"  
        method="post" 
        enctype="multipart/form-data" >

        <div class="row justify-content-center"> 
            <div class="col-4">
        <select class="form-select" aria-label="Default select example" 
        name="restrição"
        [(ngModel)] = "produto.restricao">
            <option selected>Tipo de restrição</option>
            <option value="2">LACTOSE</option>
            <option value="3">GLÚTEN</option>
          </select>                      
                </div>
            </div>

<br>

<div class="row justify-content-center"> 
    <div class="col-4">
   <label for="tipoProduto" class="textform">Tipo de produto (alimento, outros):</label>
        <input
        [(ngModel)] = "produto.tipoProduto"
        name="tipoProduto"
        type="text" 
        id="tipoProduto" 
        class="form-text form-control" 
        required maxlength="10" />
    </div>
</div>

<br>

        <div class="row justify-content-center"> 
            <div class="col-4">
           <label for="nomeProduto" class="textform">Nome do produto:</label>
                <input
                [(ngModel)] = "produto.nome"
                name="nome" 
                type="text" 
                id="nomeProduto" 
                class="form-text form-control" 
                required maxlength="60" />
            </div>
        </div>
        
        <br>

        <div class="row justify-content-center"> 
            <div class="col-4">
           <label for="marcaProduto" class="textform">Marca:</label>
                <input
                [(ngModel)] = "produto.marca"
                name="marca"  
                type="text" 
                id="marcaProduto" 
                class="form-text form-control" 
                required maxlength="60" />
            </div>
        </div>

        <br>

        <div class="row justify-content-center"> 
            <div class="col-4">
           <label for="origemInfo" class="textform">Origem da informação:</label>
                <input
                [(ngModel)] = "produto.origem"
                name="origem" 
                type="text" 
                id="origemInfo" 
                class="form-text form-control" 
                required maxlength="200" />
            </div>
        </div>

        <br>

        <div class="row justify-content-center"> 
            <div class="col-4">
           <label for="descricao" class="textform">Descrição:</label>
                <input
                [(ngModel)] = "produto.descricao"
                nome="descricao" 
                type="text" 
                id="descricao" 
                class="form-text form-control" 
                required maxlength="200" />
            </div>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-4 d-flex justify-content-md-end">        
                  
            <button type="submit" class="btn btn-secondary btn-lg">Cadastrar</button>

        </div>
        </div>
<br> 

    </form>
</section>

</body>