
@import url('https://rsms.me/inter/inter.css');


.line1{
    background-color: #e9cd9e;
    opacity: 1;
}

.form-control:focus {
    border-color: #f0e5cf;
    box-shadow: 0 0 0 0.25rem #e9cd9e;

}

.row{
    font-family: "Inter";
    color: #3D6157;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative; 
}


.input-group {
    position: relative;
    height: 50px;
}

.input-group .input-area {
    outline: none;
    border: 2px solid #3D6157;
    font-size: 14px;
    border-radius: 5px;
    
}


.input-group .input-area:valid + .label {
    top: -16px;
    padding: 0 3px;
    font-size: 16px;
    color: #3D6157;
    
    
}


.input-group .input-area:focus {
    border: 2px solid #334746;
    
}

.input-group .label {
    color: #8d8d8d;
    position: absolute;
    top: 15px;
    left: 13px;
    background: #ffffff;
}

.input-group .input-area + .label {
    top: -10px;
    padding: 3px;
    font-family: "Inter";
    font-size: 16px;
    color: #3D6157;
   
}