
<app-header></app-header>

<head>

    <title>usuario</title>
</head>

<body>

   <br>

   <section>
    <form  name="cadastroUsuario" [formGroup]=" formusuarioForm" (submit)="cadastrar()"
    method="post"
    enctype="multipart/form-data"
    action="#">

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="input-area form-text form-control" required id="nome" required maxlength="35" formControlName="nome"/>
                <label for="nome" class="label">Nome</label>
                <app-mensagem *ngIf="formusuarioForm.get('nome')?.errors?.['required'] && formusuarioForm.get('nome')?.touched" mensagem="Nome Obrigatório"></app-mensagem>
            </div>
    </div>
    </div>
<br>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="input-area form-text form-control" required id="sobrenome" required maxlength="60" formControlName="sobrenome"/>
                <label for="sobrenome" class="label">Sobrenome</label>
                <app-mensagem *ngIf="formusuarioForm.get('sobrenome')?.errors?.['required'] && formusuarioForm.get('sobrenome')?.touched" mensagem="Sobrenome Obrigatório"></app-mensagem>
            </div>
    </div>
    </div>

<br>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="input-group">
                <input type="date" class="input-area form-text form-control" required id="date" required maxlength="10" formControlName="dataNascimento"/>
                <label for="date" class="label">Data de Nascimento</label>
                <app-mensagem *ngIf="formusuarioForm.get('dataNascimento')?.errors?.['required'] && formusuarioForm.get('dataNascimento')?.touched" mensagem=" Data de nascimento Obrigatório"></app-mensagem>

            </div>
    </div>
    </div>

    <br>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="input-group">
                <input type="email" class="input-area form-text form-control" required id="email" required maxlength="60" formControlName="email"/>
                <label for="email" class="label">E-mail</label>
                <app-mensagem *ngIf="formusuarioForm.get('email')?.errors?.['required'] && formusuarioForm.get('email')?.touched" mensagem="E-mail obrigatório"></app-mensagem>
                <app-mensagem *ngIf="formusuarioForm.get('email')?.errors?.['email'] && formusuarioForm.get('email')?.touched" mensagem="E-mail no formato incorreto" ></app-mensagem>
            </div>
    </div>
    </div>

<br>

    <div class="row justify-content-center">
        <div class="col-4">
    <div class="row g-2">
        <div class="col-sm-10">
            <div class="input-group">
                <input type="text" class="input-area form-text form-control" required id="cidade" required maxlength="50" formControlName="cidade"/>
                <label for="cidade" class="label">Cidade</label>
                <app-mensagem *ngIf="formusuarioForm.get('cidade')?.errors?.['required'] && formusuarioForm.get('cidade')?.touched" mensagem="Cidade Obrigatório"></app-mensagem>
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group">
                <input type="text" class="input-area form-text form-control" required id="uf" required maxlength="2" formControlName="uf"/>
                <label for="uf" class="label">UF</label>
                <app-mensagem *ngIf="formusuarioForm.get('uf')?.errors?.['required'] && formusuarioForm.get('uf')?.touched" mensagem="Estado Obrigatório"></app-mensagem>
            </div>
        </div>
    </div>
    </div>
    </div>

<br>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="input-group">
                <input type="password" class="input-area form-text form-control" required id="senha" required maxlength="12" placeholder="mínimo 6 caracteres" formControlName="senha"/>
                <label for="senha" class="label">Definir Senha</label>
                <app-mensagem *ngIf="formusuarioForm.get('senha')?.errors?.['required'] && formusuarioForm.get('senha')?.touched" mensagem="Senha Obrigatório"></app-mensagem>
            </div>
        </div>
    </div>

<br>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="input-group">
                <input type="password" class="input-area form-text form-control" required id="confirmacaoSenha" required maxlength="12" formControlName="confirmarSenha"/>
                <label for="confirmacaoSenha" class="label">Repetir Senha</label>
                <app-mensagem *ngIf="formusuarioForm.get('confirmarSenha')?.errors?.['required'] && formusuarioForm.get('confirmarSenha')?.touched" mensagem="Confirmar senha Obrigatório"></app-mensagem>
                <app-mensagem *ngIf="formusuarioForm.errors?.['senhaIguais']" mensagem="Senha deve ser igual a senha"></app-mensagem>
            </div>
        </div>
    </div>

<br>


    <div class="row justify-content-center">
            <div class="col-4 d-flex justify-content-md-end">

            <button type="submit" class="btn btn-secondary btn-lg">Salvar</button>

        </div>
        </div>
<br>

</form>
</section>

</body>

