
<nav class="navbar navbar-expand-lg navbar static-top fixed " >
  <div class="container">
    <a class="navbar-brand" href="#">

      <img class="logo" src="../../../assets/img/Logo1.png" alt="..." height="180px" >
      <img class="redes" src="../../../assets/img/Redes.png" alt="..." height="30" >

    </a>

    <div class="navbar-default navbar-top" id="navbar" style="width: 200px;" >
      <ul class="navbar-nav text-sm-left mr-5" >
        <li class="nav-item active ">
          <a class="nav-link" href="#" id="itens">INÍCIO <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="itens">PRODUTOS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="itens" routerLink="/listReceita">RECEITAS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"id="traco" href="#">|</a>
        </li>
        

        <li class="nav-item">


          <button type="button" id="cadastre-se" class="btn-3d" ><b>Olá</b></button>
          

        </li>
      </ul>
    </div>
  </div>
</nav>
<hr class="line1" size="8">
<hr class="line2" size="8">
<div class="topo"><img class="img" src="../../../assets/img/Topo1.png" alt="..." height="250px" ></div>
