<app-header></app-header>
<section>

    <div class="topo"><img class="img" src="../../../assets/img/Topo1.png" alt="..." height="250px" ></div>
<br/>
<section class="titulo"><h3>POR QUE ESTAMOS AQUI?</h3><br/></section>
<div class="texto">

   <p>De acordo com cada indivíduo, a "resposta" dada pelo seu organismo a partir da ingestão de um alimento pode levar a apresentar sintomas adversos, como reações alérgicas ou de intolerância, em menor ou maior grau.</p><br/>
       
        
        <p>O  I-Restrito nasceu como uma forma de auxiliar na busca de alimentos  e  produtos  livres  de  substâncias e ingredientes responsáveis por reações incômodas ou mesmo, severas. Contamos também com um espaço destinado 
            para receitas, contendo formas de substituição de ítens passo a passo. Nosso foco é o glúten, a lactose e a caseína (proteína do leite).</p>
        
        <br/>Sabe o que é mais importante? Você pode nos auxiliar indicando produtos, alimentos e receitas.<br/><br/>
</div>

<div>
    <!--divisão da linha-->

    <div class="row">
        <!--divisão da coluna 1-->

    <div class="column">

        <div class="alergia1"><h4><b>Intolerância á Lactose</b></h4>
            <p>Intolerância à lactose é a incapacidade de digerir a lactose (açúcar do leite). O problema é resultado da deficiência ou ausência de uma enzima intestinal chamada lactase. Esta enzima possibilita decompor o açúcar do leite em carboidratos mais simples, para a sua melhor absorção.
                É importante estabelecer a diferença entre alergia ao leite e intolerância à lactose. A alergia é uma reação imunológica adversa às proteínas do leite, que se manifesta após a ingestão de uma porção, por menor que seja, de leite ou derivados. A mais comum é a alergia ao leite de vaca, 
                que pode provocar alterações no intestino, na pele e no sistema respiratório (tosse e bronquite, por exemplo).
                
                A intolerância à lactose não é uma doença. É uma carência do organismo que pode ser controlada com dieta e medicamentos.


            </p>
    </div>
</div>
        <!--divisão da coluna 2-->
    <div class="column">

        <div class="alergia1"><h4><b>Alergia a Proteína do Leite - APLV</b></h4>
            <p>A APLV é uma reação do sistema imunológico às proteínas do leite, principalmente às proteínas do coalho (caseína) e às proteínas do soro (alfa-lactoalbumina e beta-lactoglobulina). É uma das alergias alimentares mais comuns em bebês e geralmente aparece antes de 1 ano de idade.
                Estima-se que entre 1 a 17% das crianças menores de 3 anos apresentam sintomas sugestivos de APLV. A alergia à proteína do leite de vaca é o tipo de alergia alimentar mais comum na infância.
                Reações mediadas por IgE ou imediatas.
                Acontece quando o organismo produz anticorpos específicos do tipo IgE (Imunoglubulinas E) para as proteínas do leite de vaca, as quais a criança é alérgica (caseína, alfa-lactoalbumina e/ou beta-lactoglobulina são as principais). São reações tipicamente mais persistentes com o passar dos anos e geralmente mais graves.
                Reações não mediadas por IgE ou tardias.
                São as reações em que o organismo não produz anticorpos IgE específicos, apresentando os sintomas de forma tardia, com horas ou dias após a ingestão do leite. Neste caso, desenvolvem tolerância ao leite, mas cedo que as de reação imediata.

            </p>
            </div>

        </div>

        </div>
    </div>

    <div>
        <!--divisão da linha-->

        <div class="row">
            <!--divisão da coluna 1-->

        <div class="column">

        <div class="alergia1"><h4><b>Intolerância ao Glutén</b></h4>
            <p>A intolerância ao glúten não celíaca é a incapacidade ou dificuldade de digestão do glúten, que é uma proteína presente no trigo, no centeio e na cevada. Nessas pessoas o glúten danifica as paredes do intestino delgado, provocando diarreia, dor e inchaço abdominal, além de dificultar a absorção de nutrientes.
                A intolerância ao glúten é permanente e, por isso, não tem cura, sendo necessário retirar completamente o glúten da alimentação para os sintomas desaparecerem.
                O tratamento para intolerância ao glúten consiste basicamente em excluir o glúten da alimentação durante toda a vida. O glúten pode ser substituído em muitas situações por milho, farinha de milho, fubá, amido de milho, batata, fécula de batata, mandioca, farinha de mandioca ou polvilho.
                Ao retirar o glúten da dieta, os sintomas podem desaparecer em poucos dias ou semanas.
                A dieta para intolerância ao glúten consiste em retirar da alimentação todos os alimentos que contêm glúten, como os que são preparados com farinha de trigo, como bolos, pães e biscoitos, substituindo-os por outros, como bolo de fubá.


            </p>
        </div>
    </div>
            <!--divisão da coluna 2-->
            <div class="column">
                <div class="alergia1"><h4><b>Alergia ao Glúten - Doença Celíaca </b> </h4>

                    <p>A doença celíaca é uma doença autoimune que dificulta a absorção de nutrientes dos alimentos, suas vitaminas, sais minerais e água. Ela é causada pela intolerância ao glúten, uma proteína encontrada no trigo, aveia, cevada, centeio e seus derivados, presentes em massas, pizzas, bolos, pães, biscoitos, cerveja, uísque, vodka e alguns doces, provocando dificuldade do organismo de absorver os nutrientes dos alimentos, vitaminas, sais minerais e água.
                        O diagnóstico é feito por exame clínico com médico especialista, que vai analisar os sintomas. Biópsia do intestino, por meio de endoscopia, exames de sangue e/ou dieta restritiva sem glúten também podem ser requeridos pelo médico. 
                        O principal tratamento é a dieta com total ausência de glúten e quando a proteína é excluída da alimentação os sintomas desaparecem. A maior dificuldade para os pacientes é conviver com as restrições impostas pelos novos hábitos alimentares. A doença celíaca não tem cura, por isso, a dieta deve ser seguida rigorosamente pelo resto da vida. É importante que os celíacos fiquem atentos à possibilidade de desenvolver câncer de intestino e a ter problemas de infertilidade.
        
                    </p>
                </div>

            </div>
            </div>
        </div>

<hr class="line1" size="8px">

<div>
    <!--divisão da linha-->

    <div class="row sintomas">

        <!--divisão da coluna 1-->

    <div class="column2">
    <div style="float:left"><img class="imglactose" float="left" src="../../../assets/img/Itens3.png"  height="250px" ></div>

    <div class="banner"> 
        <td><table>
            <body class="alergia" text-align="center"> Sintomas da Intolerância ou Alergia a <b class="letra"><i>LACTOSE</i></b><br/><br/>
            <div><button type="button" class="btn btn-info"><b>1</b></button><a>&nbsp;Inchaço abdominal</a></div>
            <div><button type="button" class="btn btn-info"><b>2</b></button><a>&nbsp;Enjôos, vômitos e refluxo</a></div>
            <div><button type="button" class="btn btn-info"><b>3</b></button><a>&nbsp;Urticária</a></div>
            <div><button type="button" class="btn btn-info"><b>4</b></button><a>&nbsp;Cólicas e diarréia</a></div>
            <div><button type="button" class="btn btn-info"><b>5</b></button><a>&nbsp;Inchaço nos lábios e palpebras</a></div>
        </body>


    </table></td><br/>

    </div>
</div>
        <!--divisão da coluna 2-->
        <div class="column2">
            <div style="float:right"><img class="imggluten" src="../../../assets/img/Paes4.jpeg"  height="250px" ></div>

            <div class="banner"> 
                <td><table>
                <body class = "alergia" text-align="center">Sintomas da Intolerância ou Alergia ao <b a class="letra"><i>GLÚTEN</i></b> <br/><br/>
                <div><button type="button" class="btn btn-info"><b>1</b></button><a>&nbsp;Distúrbios gastrointestinais</a></div>
                <div><button type="button" class="btn btn-info"><b>2</b></button><a>&nbsp;Desidratação</a></div>
                <div><button type="button" class="btn btn-info"><b>3</b></button><a>&nbsp;Problemas na pele</a></div>
                <div><button type="button" class="btn btn-info"><b>4</b></button><a>&nbsp;Distúrbios comportamentais</a></div>
                <div><button type="button" class="btn btn-info"><b>5</b></button><a>&nbsp;Fadiga, dores musculares e nas articulações</a></div>
                </body>
                </table></td>
                </div>

        </div>

        </div>
    </div>







