.text-center {

    color: #334646;
    font-size: 24px;
}

.text-white {

    color: #334646;

}

.line1{

    background-color: #e9cd9e;
    opacity: 1;
}

.line2{

    background-color: #334646;
    opacity: 1;

}
