<hr class="line1" size="8">
<hr class="line2" size="8">
<div class="container">

  <footer class=" text-center">
  <div class="container">
    <section>
     
      <img class="logo" src="../../../assets/img/Logo1.png" alt="..." height="140px" >
      <img class="logo" src="../../../assets/img/LogoMissao.png" alt="..." height="140px" >

    
    </section>
    </div>
 
  <div class="text-center" >
    © 2022 Copyright. <br/><b>Todos os direitos reservados. Desenvolvido por Missão Possível.</b><br/><br/><br/>
    
  </div>

</footer>

</div>