<section>
    <div class="topo"><img class="img0" src="../../../assets/img/ImgReceitaTopo.png" alt="..." height="150px" ></div>
    <hr class="line1" size="8px">
    <hr class="line2" size="8px">
<br/><br/></section>


<a class="navbar-brand"
href="#"><img src="https://c.tenor.com/Nyb2w9GrGvIAAAAC/gretchen-dance.gif"  height="300px"
alt="gretchen-dance"
width="300"
class="d-inline-block align-items:center" />


<nav class="navbar bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn2 btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journal-bookmark-fill bnt-icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg><b>DOCES</b></button>
      </form>
    </div>
  </nav>

<div  class="btn-group-vertical btn-3d" role="group" aria-label="Vertical button group" >
    <button type="button" class="btn btn-dark"><b class="font"><a class="link"  >Brigadeiro de Nutella</a></b></button><br/><br/>
    <button type="button" class="btn btn-dark"><b class="font" routerLink="menu" >Beijinho</b></button><br/><br/>
    <button type="button" class="btn btn-dark"><b class="font">Manjar de Côco</b></button><br/><br/>
    <button type="button" class="btn btn-dark"><b class="font">Empadinha Romeu e Julieta</b></button><br/><br/>
    <button type="button" class="btn btn-dark"><b class="font">Torta de Morango</b></button><br/><br/>
    <button type="button" class="btn btn-dark"><b class="font">Pavê de Bombom</b></button><br/><br/>
    <button type="button" class="btn btn-dark"><b class="font">Bolo de Milho</b></button><br/><br/>
    <button type="button" class="btn btn-dark"><b class="font">Bolo de Cenoura</b></button><br/><br/>
    <button type="button" class="btn btn-dark"><b class="font">Curau</b></button><br/><br/>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
